<div class="main">
    <header>
        <h2 style="color: gray;">K<span style="color: orange;">O</span>RE</h2>
    </header>
    <div class="one">
        <img src="../../assets/images/innov new.jpg" class="ag" alt="...">
        <br><br><br><br><br>
        <div class="one2">
        <h2> Agile</h2>
        <p>In software development, agile practices include requirements discovery and solutions improvement through the
            collaborative effort of self-organizing</p>
        <button (click)="hello()">Click</button>
    </div>
    </div>
    <div>

    </div>
</div>