<div class="main">
    <header>
        <h2 style="color: gray;">K<span style="color: orange;">O</span>RE</h2>
    </header>
    <div class="one">
        <img src="../../assets/images/innovation.jpg" class="inno" alt="...">
        <br><br><br><br><br>
        <h2> Innovative</h2>
       <P> Innovation is the practical implementation of ideas that result in the introduction of new goods or services or
        improvement in offering goods or services.</P>
        <button (click)="hello()">Click</button>
    </div>
    <div>

    </div>
</div>