<div class="main">
    <header>
        <h2 style="color: gray;">K<span style="color: orange;">O</span>RE</h2>
    </header>
    <div class="one">
        <img src="../../assets/images/gew.webp" class="img-thumbnail" alt="...">
        <br><br><br><br><br>
        <h2> Iot</h2>
        <p>The Internet of Things (IoT) describes the network of physical objects—“things”—that are embedded with
            sensors, software, and other technologies.
             </p>

        <button (click)="hello()">Click</button>
        {{title}}
    </div>
    <div>

    </div>
</div>